.grocery-list-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
}

.add-grocery-input {
    margin: 4px;
}

.grocery-list {
    padding-left: 0;
    user-select: none;
}

.grocery-item {
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid $light-grey;
    
    display: flex;
    flex-direction: row;

    cursor: pointer;

    &:hover {
        background-color: #eeeeee;
    }
}

.grocery-text {
    flex: auto;

    &.checked {
        text-decoration: line-through;
        color: #aaaaaa;
    }
}

.remove-grocery-button {
    border: none;
    background: none;
    
    flex: none;
    margin-bottom: auto;

    &:hover {
        color: rgb(241, 93, 82);
    
        cursor: pointer;
    }
}
