.login-container {
    display: flex;
}

.login-form {
    @include lifted-container;

    display: flex;
    margin: auto;
    flex-direction: column;

    input {
        margin: 5px;
    }

    input[type=submit] {
        margin-left: auto;
    }
}

.errorText {
    color: $red;
    font-size: 15px;
}
