@import "~normalize.css/normalize.css";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700|Roboto:400|Karla:400");

$awesome-green: #71a046;
$flat-grey: #5c5c5c;

@import "style.scss";
@import "grocery-list.scss";
@import "login-page.scss";
@import "workspace-list.scss";

#react-main {
    display: flex;
    flex-direction: column;
}

.banner {
    margin-left: 18px;
    font-family: 'Montserrat';
}

.banner-flat {
    font-weight: 100;
    color: $flat-grey;
}

.banner-awesome {
    font-weight: 700;
    color: $awesome-green;
}
