$anim-duration: 100ms;
$light-blue: rgb(116, 153, 255);
$light-purple: rgb(123, 87, 224);
$light-grey: #ececec;
$red: rgb(241, 93, 82);

// Utilities:
.display-none {
    display: none;
}

@mixin lifted-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 20px 25px -10px rgba(black, 0.1);
}

@mixin greyout-container {
    position: relative;
}

@mixin greyout($strength) {
    position: absolute;
    width: 100%;
    height: 100%;

    &.greyout-inactive {
        background-color: rgba(255, 255, 255, 0);
    }

    background-color: rgba(255, 255, 255, $strength);

    pointer-events: none;

    transition-duration: $anim-duration;
    transition-property: background-color;
}

@mixin basic-clickable {
    cursor: pointer;
    user-select: none;
}

// General Styling
body {
    font-family: 'Montserrat';
    background-color: #fefefe;
    color: $flat-grey;
}

main {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

input[type=submit] {
    background-color: white;

    font: 'Karla';
    color: $light-blue;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid $light-grey;

    transition: background-color color;
    transition-duration: 100ms;         

    cursor: pointer;
    
    &:hover, &:focus {
        background-color: $light-blue;
        color: #eee;
    }
}

input[type=text], input[type=password] {
    border: 1px solid $light-grey;
    border-radius: 4px;
    padding: 6px;

    cursor: text;

    &:hover, &:focus {
        background-color: rgb(245, 247, 255);
    }
}

form label {
    @include basic-clickable;
}

a {
    text-decoration: none;
    color: $light-blue;

    &:visited {
        color: $light-purple;
    }
}
