$blob-size: 80px;

.workspace-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .workspace {
        @include greyout-container;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 15px;
        width: 100%;
        border-top: 2px solid $light-grey;

        article {
            width: 100%;

            h2 {
                @include basic-clickable;

                font: 'Montserrat';
                font-weight: 400;
                text-align: center;

                &:hover {
                    color: $light-blue;
                }
            }

            section {
                text-align: center;
            }
        }
    }
}

.list-blob {
    @include basic-clickable;

    display: inline-flex;
    flex-direction: column;

    margin: 20px;

    &:hover {
        color: $light-blue;

        .blob {
            border-color: $light-blue;
        }
    }

    .blob {
        display: flex;
        align-content: center;
        align-items: center;
        margin: auto;

        width: $blob-size;
        height: $blob-size;

        border-radius: $blob-size;
        box-shadow: 0 0 0 1px $flat-grey;
        transition-duration: $anim-duration;
        transition-property: box-shadow;

        .icon {
            margin: auto;
            font-size: 30px;
        }
    }

    figcaption {
        margin-top: 15px;

        // Show ellipsis if the text is too long
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        max-width: 2 * $blob-size;
    }

    &.chosen {
        .blob {
            box-shadow: 0 0 0 3px $awesome-green;
        }
        color: $awesome-green;
    }
}

.workspace-greyout {
    @include greyout(0.8);
}
